$mainTextColor:#333; //主要文字

$regularTextColor:#666; //常规文字

$secondaryTextColor:#999; //次要文字

$primary-1:#FE003A; //主题色1

$primary-2:#FE981B; //主题色2

// 按钮可选
@mixin btn {
  background: linear-gradient(90deg, #ff0065 0%, #fe0035 100%);
}

// 按钮不可选
@mixin btn-disabled {
  background: #dcdcdc;
}

@mixin input {
  height: 112px;
  padding: 0 32px;
  background: $bg;
  border-radius: 20px;
  font-size: 32px;
  color: $mainTextColor;

  &::placeholder {
    color: #ccc;
  }
}

$bg:#f7f7f7;