/* 间距 */
$baseSpacing:8px; //基础间距
$smallSpacing:8px; //小号间距
$mediumSpacing:16px; //中号间距
$largeSpacing:24px; //大号间距

/* 文字对齐 */
$center:center;
$left:left;
$right:right;

/* 色彩 */
$primary:#409EFF; //主题色
/* 辅助色 */
$success:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$info:#909399;
/* 字色 */
$mainTextColor:#303133; //主要文字
$regularTextColor: #606266; //常规文字
$secondaryTextColor: #909399; //次要文字
$placeholderTextColor: #C0C4CC; //占位文字
/* 边框 */
$firstLevelBorder: #DCDFE6; //一级边框
$secondLevelBorder: #E4E7ED; //二级边框
$threeLevelBorder: #EBEEF5; //三级边框
$fourLevelBorder:#F2F6FC; //四级边框
/* 基础色 */
$white:#fff; //白色
$black:#000; //黑色
$transparent:transparent; //透明

/* 字阶 */
$extraSmall:12px; // 辅助文字		
$small:13px; // 正文（小）	
$base:14px; // 正文	
$medium:16px; // 小标题	
$large:18px; // 标题	
$extraLarge:20px; // 主标题	